# Basics Operations and Operators

In [3]:
329*121

39809

In [4]:
24+23

47

In [5]:
334/3

111.33333333333333

In [6]:
23%23

0

In [7]:
20**7

1280000000

# Compariso Operators

<,>,<=,>=,==, !=

In [8]:
10<5

False

In [9]:
5>5

False

In [11]:
name="Ashindra"
print(name)

Ashindra

In [12]:
college ="Babu Banarasi Das University"
mobile="7376012145"

In [13]:
location="etrgfbnffj"rrhfh

SyntaxError: invalid syntax (3418936384.py, line 1)

In [14]:
mobile

'7376012145'

In [15]:
name

'Ashindra'

# string operators example

In [16]:
"Ashindra" + "Dwivedi"

'AshindraDwivedi'

In [21]:
"Ashindra" + 12

TypeError: can only concatenate str (not "int") to str

In [24]:
"Ashindra"* 12

'AshindraAshindraAshindraAshindraAshindraAshindraAshindraAshindraAshindraAshindraAshindraAshindra'

In [25]:
"___"*5

'_______________'

# Variables

In [1]:
name="Bruce wayne"
hero_name="Batman"
skills=['fighting','intelligence','etc']
creator='Bob Kane'

In [2]:
x=23445

In [3]:
x=1.12

In [4]:
87.7e100

8.77e+101

In [6]:
"samuel"

'samuel'

In [10]:
is_coding=True

In [11]:
is_coding

True

In [12]:
network=None

In [13]:
a=[1,2,3,4,5,6,7,8]
b=['apple','mango','grapes']

In [14]:
a=(2,3,4,56,6)
c=('apple','mango','grapes')

In [16]:
a={2,3,4,56,6,'apple','mango','grapes'}

In [18]:
a={"car": "swift",
"brand":"maruti"}