In [3]:
x= 'python'
for i in x:
    print(i)

p
y
t
h
o
n

In [4]:
fruits=['apple','banana','mango']
for item in fruits:
    print(f"i have {item}")

i have apple
i have banana
i have mango

In [5]:
movies=["the holy grail",'the life of brian','harry potter','the meaning of life']
for movie in movies:
    print(movie, len(movie))

the holy grail 14
the life of brian 17
harry potter 12
the meaning of life 19

In [8]:
# for loop with counter
for i,j in enumerate(movies):
    print(f"{i} - {j}")

0 - the holy grail
1 - the life of brian
2 - harry potter
3 - the meaning of life

In [9]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
for i in range(2,11):
    print("sheep",i)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [13]:
for num in range(1,10,2):
    print('level',num)

level 1
level 3
level 5
level 7
level 9

In [14]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [19]:
# pattern loop
for i in range(10):
    print(i*"na")

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana

In [31]:
# wap to print numbers are even or odd from 1,101
for i in range(1,101):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd
100 even

In [37]:
# wap to print the sum of all even number from 2 to 101
sum=0
for i in range(2,101):
    if i%2==0:
        sum=sum+i
print(sum)

2550

In [41]:
## wap to print the average of all odd numbers from 1 to 101
avg=0
for i in range(1,101):
    if i %2!=0:
        avg=avg+i/100
print(avg)

24.999999999999996

In [11]:

print(1,2,3,4,5)
print(2,4,6,8,10)
print(3,6,9,12,15)
print(4,8,12,16,20)
print(5,10,15,20,25)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [18]:
for i in range(1,6):
    print(1*i,2*i,3*i,4*i,5*i,sep=",")

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

In [21]:
# best implementation
for row in range(1,6):
    for col in range(1,6):
        print(row*col,end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [23]:
# while loop
x=1
while x<5:
    print('run')
    x+=1
print("stop")

run
run
run
run
stop

In [24]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum is ",sum)

the sum is  55

In [28]:
poem=''
while input('do you want to write another line?[y/n]')== "y":
    line= input("____")
    poem+= line
chars= len(poem)
print(f"the total chars in poem is {chars}")
poem

the total chars in poem is 34

'there wa as kid he is very naughty'

In [32]:
# continue
x=[1,2,3,"",4,5,"",6,7,8,"",9,10]
total=0
for i in x:
    if isinstance(i,str):
        continue
    total+= i
print(total)

55

In [34]:
poem=" "
while True:
    line = input("enter the line")
    if line:
        poem+= line+"\n"
    else:
        break
print("total chars",len(poem))
print(poem)

total chars 19
 abcdref
hijklmop