# set
- set is mutable(items can be changed during execution)
- set is hetrogenous (mixed data can be stored)
- set can have unique value
- set is unidexed and unordered
- set uses{ } brackets with values inside it seprated with commas
- to create empty we have to use set{}
- set can only store immutable datatype value (numbers, strings, tuples etc)

## What to learn
- creating a set
- traversal(looping)
- function

In [1]:
a = set()
b = {1,2,3,4}
c = set([1,2,3,4])
print(a,b,c)

set() {1, 2, 3, 4} {1, 2, 3, 4}

In [3]:
a.add(1)
print(a)

{1}

In [7]:
d ={11,22,3,33,3,3,88393}
print(d)

{33, 3, 22, 88393, 11}

In [8]:
d.remove(33)
print(d)

{3, 22, 88393, 11}

In [9]:
x = set()
for i in range(5):
    val = input("enter a value")
    x.add(val)
print(x)

{'55', '12', '34', '33'}

In [10]:
b

{1, 2, 3, 4}

In [12]:
for i in b:
    print(i)

1
2
3
4

### function
- adding values
      - add
      - update
- removing values
      - remove()
      - discard()
      - pop()
      - clear()
- set operations
     - union()
     - intersection()
     - difference()
     - symmetric_difference()
     - is_superset()
     - is_subset()
     - is_disjoint()

In [17]:
sa = {1,2,3,4,5}
sb = {2,7,8,8,9,5}
print(sb.union(sa))
sa | sb

{1, 2, 3, 4, 5, 7, 8, 9}

{1, 2, 3, 4, 5, 7, 8, 9}

In [16]:
sb.intersection(sa)
sb & sa

{2, 5}

In [18]:
print(sb.symmetric_difference(sa))

{1, 3, 4, 7, 8, 9}

In [21]:
sc = {1,2,3,4,5,6,7,8,9,10}
sd = {11,12,13}
sa.issubset(sc)
sb.issubset(sc)
sd.issubset(sc)

False

### Wap to take 10 integers in a set from user and then display the sum of all the values

In [1]:
x = set()
for i in range(10):
    num = int(input("enter the number"))
    x.add(num)
print(sum(x))

ValueError: invalid literal for int() with base 10: ''